<%= form_tag rails_admin.import_url(@abstract_model.to_param), :multipart => true, :class => 'form-horizontal' do |f| -%>
    <fieldset>
        <legend>
            <i class="icon-chevron-down"></i>
            Upload file
        </legend>
        <div class="control-group">
            <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip">File</label>
            <div class="controls">
                <%= file_field_tag :file %>
                <p class="help-block">Please limit upload file to <%= RailsAdminImport.config.line_item_limit %> line items.</p>
            </div>
        </div>

    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary" name="commit" type="submit" data-disable-with="Uploading...">
            <i class="icon-white icon-ok"></i>
            Import
        </button>
        <button class="btn" name="_continue" type="submit">
            <i class="icon-remove"></i>
            Cancel
        </button>
        <!--<%= submit_tag "Upload", :disable_with => "Uploading..." %>-->
    </div>
<% end -%>
